<div *ngIf="selectedTabLink==='hot'">
    <app-image-slider
    [sliders]="imgSliders"
    sliderHeight="200px"
    #imageSlider></app-image-slider>
    
    <app-horizontal-grid> 
        <div appGridItem *ngFor="let item of channels">
            <div>
                <img [src]="item.icon" alt="" [appGridItemImage]="'4rem'" [fitMode]="'cover'">
                <span [appGridItemTitle]="'0.6rem'">{{item.title}}</span>
            </div>
        </div>
    </app-horizontal-grid>
</div>

<div class="ad-container"><img [src]="adImg" alt="" class="ad-image"></div>
<app-vertical-grid [itemWidth]="'20rem'" [itemHeight]="'2rem'">
<app-product-card *ngFor="let product of products" [product]="product" [routerLink]="['/products',product.id]">
</app-product-card>
</app-vertical-grid>